<p>
  <strong>Commenter:</strong>
  <%= comment.user.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= simple_format(comment.body) %>
</p>

<p>
  <strong>Your rate:</strong>
  <%= comment.rating %>
</p>

  <%= link_to 'Destroy', movie_comment_path(movie_id: comment.movie.id, id: comment.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-warning" %>

  <%= link_to 'Edit', edit_movie_comment_path(movie_id: comment.movie.id, id: comment.id), class: "btn btn-warning" %>

<hr />
