<%= render 'common/errors', model: @comment %>

<%= form_for [@movie, @comment] do |f| %>
  <p><%= f.label :Commenter %><br>
    <%= f.text_field :commenter %>
  </p>

  <p>
    <%= f.label :Comment %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.label :Rate_from_1_to_10 %><br>
    <%= f.text_area :rating %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
