<div class="container-fluid">
<%= render 'common/errors', model: @movie %>
<%= form_for @movie, html: { multipart: true } do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %><br>
    <%= f.label :year %>
    <%= f.text_field :year, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <hr />

  <div class="form-group">
    <%= f.label :duration %>
    <%= f.text_field :duration, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :genre %>
    <%= f.text_field :genre, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :director %>
    <%= f.text_field :director, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :writer %>
    <%= f.text_field :writer, class: 'form-control'  %>
  </div>

  <hr />

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control'  %>
  </div>

  <p>
    <%= f.submit %>
  </p>

<% end %>
</div>
