<%= render 'common/errors', model: @movie %>
<%= form_for @movie do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :tytuł %><br>
    <%= f.label :year %>
    <%= f.text_field :rok_produkcji %>
  </p>

  <hr />

  <p>
    <%= f.label :duration %>
    <%= f.text_field :czas_trwania %>
  </p>

  <p>
    <%= f.label :genre %>
    <%= f.text_field :gatunek %>
  </p>

  <p>
    <%= f.label :director %>
    <%= f.text_field :reżyseria %>
  </p>

  <p>
    <%= f.label :writers %>
    <%= f.text_field :scenariusz %>
  </p>

  <hr />

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :opis %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
