<h1> Nowy film </h1>

<%= form_for :movie, url: movies_path do |f| %>
<p>
  <%= f.label :tytuł %>
  <%= f.text_field :tytuł %><br>
  <%= f.label :rok_produkcji %>
  <%= f.text_field :rok_produkcji %>
</p>

<hr />

<p>
  <%= f.label :czas_trwania %>
  <%= f.text_field :czas_trwania %>
</p>

<hr />
<p>
  <%= f.label :opis %><br>
  <%= f.text_area :opis %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
<%= link_to 'Back', movies_path %>
