<p>
<strong>Title:</strong>
  <h1><%= @movie.tytuł %></h1>
  <strong>Year:</strong>
<%= @movie.rok_produkcji %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.czas_trwania %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.gatunek %>
</p>

<p>
  <strong>Directed by:</strong>
  <%= @movie.reżyseria %>
</p>

<p>
  <strong>Writers:</strong>
  <%= @movie.scenariusz %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.opis %>
</p>

<hr />
<h2>Comments</h2>
<%= render @movie.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<p>
<%= link_to 'Back', movies_path %>
<%= link_to 'Edit', edit_movie_path(@movie) %>
