<p>
<strong>Tytuł:</strong>
<%= @movie.tytuł %>
<strong>Rok produkcji:</strong>
<%= @movie.rok_produkcji %>
</p>
<p>
<strong>Reżyseria:</strong>
<%= @movie.reżyseria %>
</p>
<p>
<strong>Scenariusz:</strong>
<%= @movie.scenariusz %>
</p>
<p>
<strong>Gatunek:</strong>
<%= @movie.gatunek %>
</p>
<p>
<strong>Czas trwania:</strong>
<%= @movie.czas_trwania %>
</p>
<p>
<strong>Opis:</strong>
<%= @movie.opis %>
</p>
