<h1 style="display: inline;" ><%= @movie.title %></h1>
  <h6 style="display: inline;"> (<%= @movie.year %>)</h6>

<%= image_tag @movie.image.url(:thumb) %>
<strong>Added by:</strong>
  <%= @movie.user.email %>

  <table class="table table-bordered table-dark">
    <tbody>
      <tr>
        <th scope="row">Duration</th>
        <td><%= @movie.duration %></td>
      </tr>

      <p>
      <strong> Tags:</strong>
        <% @movie.tags.each do |t| %>
          <%=link_to t, movies_path(q: t), class: "badge badge-dark"%>
        <% end %>
      </p>
    </tbody>
  </table>

<div class="p-3 mb-2 bg-warning text-dark"><%= @movie.description %></div>

<hr />

<h2>Comments</h2>
  <%= render @movie.comments %>
  <h2>Add a comment:</h2>
  <% if current_user %>

    <%=render 'comments/form' %>
  <%end%>



  <%= link_to 'Back', movies_path, class: "btn btn-warning" %>

  <% if @movie.user == current_user || current_user&.admin? %>
    <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-warning" %>
  <% end %>
