<h1 style="display: inline;" ><%= @movie.tytuł %></h1>
  <h6 style="display: inline;"> (<%= @movie.rok_produkcji %>)</h6>

  <table class="table table-bordered table-dark">
    <tbody>
      <tr>
        <th scope="row">Duration</th>
        <td><%= @movie.czas_trwania %></td>
      </tr>

      <tr>
        <th scope="row">Genre</th>
        <td><%= @movie.gatunek %></td>
      </tr>

      <tr>
        <th scope="row">Directed by</th>
        <td><%= @movie.reżyseria %></td>
      </tr>

      <tr>
        <th scope="row">Writers</th>
        <td><%= @movie.scenariusz %></td>
      </tr>
    </tbody>
  </table>

<div class="p-3 mb-2 bg-warning text-dark"><%= @movie.opis %></div>

<hr />

<h2>Comments</h2>
  <%= render @movie.comments %>

<h2>Add a comment:</h2>
  <%= render 'comments/form' %>

<button type="button" class="btn btn-warning">
  <%= link_to 'Back', movies_path %>
</button>

<button type="button" class="btn btn-warning">
  <%= link_to 'Edit', edit_movie_path(@movie) %>
</button>
