<p>
<strong>Tytuł:</strong>
  <h1><%= @movie.tytuł %></h1>
  <strong>Rok produkcji:</strong>
<%= @movie.rok_produkcji %>
</p>

<p>
  <strong>Czas trwania:</strong>
  <%= @movie.czas_trwania %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @movie.opis %>
</p>

<h2>Comments</h2>
<%= render @movie.comments %>

<h2> Zostaw komentarz:</h2>
<%= render 'comments/form' %>
<p>


<%= link_to 'Back', movies_path %>
<%= link_to 'Edit', edit_movie_path(@movie) %>
